<%@ master language="C#" autoeventwireup="true" inherits="S1_MasterPages_HomerNoNavigation, App_Web_4v32dwio" %>

<!DOCTYPE html>
<html>
	<head runat="server">
		<!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-96039646-1"></script>
		<script>
			window.dataLayer = window.dataLayer || [];
			function gtag() { dataLayer.push(arguments); }
			gtag('js', new Date());

			gtag('config', 'UA-96039646-1');
		</script>
		<link rel="apple-touch-icon" sizes="120x120" href="/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
		<link rel="manifest" href="/site.webmanifest">
		<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
		<meta name="msapplication-TileColor" content="#da532c">
		<meta name="theme-color" content="#b16565">
		<script src="//platform-api.sharethis.com/js/sharethis.js#property=5c5da7116dbc680011d2b5cf&product=inline-share-buttons"></script>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">

<title>Create A Community Disaster Relief Team - Stability</title>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="Turn your friends and family into an impactful disaster relief team to help your community.">
<meta name="keywords" content="Cajun Navy, Ground Force, Ground Force Humanitarian Aid, Cajun Navy Ground Force, CajunNavy, Stability, Disaster Relief, Disaster, Disaster Response, Hurricane, Tornado, Flood, Wildfire, Heatwave">
<meta name="author" content="Rob Gaudet, President, Stability">

<meta property="og:image" content="http://www.Stability.org/V1/images/MSTEAM.png" />
<meta property="og:title" content="Create A Community Disaster Relief Team - Stability" />
<meta property="og:description" content="Turn your friends and family into an impactful disaster relief team to help your community." />

		<!-- Vendor styles -->
		<link rel="stylesheet" href="/Homer/vendor/fontawesome/css/font-awesome.css" />
		<link rel="stylesheet" href="/Homer/vendor/metisMenu/dist/metisMenu.css" />
		<link rel="stylesheet" href="/Homer/vendor/animate.css/animate.css" />
		<link rel="stylesheet" href="/Homer/vendor/bootstrap/dist/css/bootstrap.css" />

		<!-- App styles -->
		<link rel="stylesheet" href="/Homer/fonts/pe-icon-7-stroke/css/pe-icon-7-stroke.css" />
		<link rel="stylesheet" href="/Homer/fonts/pe-icon-7-stroke/css/helper.css" />
		<link rel="stylesheet" href="/Homer/styles/style.css">

		<!-- Vendor scripts -->
		<script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>

		<script type="text/javascript">

			$(document).ready(function () {
				$('#logo').click(function () {
					window.location.href = '/Web/Index.html';
					return false;
				});
			});
		</script>

		<style>
			.bodyBGColor
			{
				background-color:#F1F3F6;
			}
			#header
			{
				background-color:#5e2e91;
			}
			#logo:hover	{cursor:pointer; }
			#logo{background-color:#fff;}
			.header-link
			{
				background:none;
				border:none;
			}
			.header-link:hover
			{
				background:none;
				border:none;
			}
			.fa-bars:hover
			{
				color:white;
			}
		</style>

		<asp:ContentPlaceHolder id="head" runat="server">
		</asp:ContentPlaceHolder>
	</head>
	<body <%=bodyTag%>>

		<!-- Load Facebook SDK for JavaScript -->
		<div id="fb-root"></div>
		<script>(function (d, s, id) {
				var js, fjs = d.getElementsByTagName(s)[0];
				if (d.getElementById(id)) return;
				js = d.createElement(s); js.id = id;
				js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.2&appId=407367082998596&autoLogAppEvents=1';
				fjs.parentNode.insertBefore(js, fjs);
			}(document, 'script', 'facebook-jssdk'));
		</script>
		<%=boxedWrapperOpen %>
		<form id="form1" runat="server" role="form">
			<div id="header" runat="server">
			</div>
			<div style="margin-bottom:500px;"  class="container">
				<asp:ContentPlaceHolder id="ContentPlaceHolder1" runat="server">
        
				</asp:ContentPlaceHolder>
			</div>
		</form>
		<%=boxedWrapperClosed %>
		<!-- App scripts -->
		<script src="/Homer/vendor/slimScroll/jquery.slimscroll.min.js"></script>
		<script src="/Homer/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
		<script src="/Homer/vendor/metisMenu/dist/metisMenu.min.js"></script>
		<script src="/Homer/vendor/iCheck/icheck.min.js"></script>
		<script src="/Homer/scripts/homer.js"></script>
	</body>
</html>