<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Thank You For Your Donation!</title>
</head>
<body style="background-color: #F4F4F4; padding: 10px;">
    <div style="display: block; margin: 20px; width: 85%;">
        <div style="display: block; padding: 20px; background-color: #393F4F;">
            <a href="http://www.Stability.org" target="_blank"><img src="http://www.Stability.org/V1/Images/logo-w-c.png" width="250" /></a>
        </div>
        <div style="display: block; background-color: #fff; border: double 3px #E3E3E3; padding: 20px 50px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;">
                Dear <% DonorFirstName %> <% DonorLastName %>,<br />
                <br />
                <p>On behalf of the <% RecipLastName %> family, we at Stability would like to thank you for your generous donation. It is caring and compassionate people like you that help families rebuild their lives after disasters.</p>

                <p>Stability is proud to be the worlds first community sourced disaster recovery platform. Through the use of technology, we can now utilize a 21 century approach to disaster aid. You will be able to track the <% RecipLastName %> families progress on their road to recovery as they take the necessary steps to rebuild, recoup, and re-establish their lives.</p>

                <p>We want to sincerely thank you again for your generous donation. Stability is a grassroots movement. We would appreciate you sharing our story and website with friends, families, corporations, and other generous donors like yourself. Please help us in our mission to grow awareness of our efforts to connect citizens to families in need.</p>

                <p>
                    With deepest gratitude,<br />
                    <br />
                    Rob Gaudet, Founder.
                </p>
            <br />
        </div>
    </div>
</body>
</html>