<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Thank You For Your Donation!</title>
</head>
<body style="background-color: #F4F4F4; padding: 10px;">
    <div style="display: block; margin: 20px; width: 85%;">
		<div style="display: block; padding: 20px; background-color: #393F4F;">
			<a href="http://www.Stability.org" target="_blank"><img src="http://www.Stability.org/V1/Images/logo-w-c.png" width="40" /></a>
		</div>
        <div style="display: block; background-color: #fff; border: double 3px #E3E3E3; padding: 20px 50px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;">
            <p>Dear <% RecipFirstName %> <% RecipLastName %>,</p>

            <p>We have great news! Stability has connected you with a donor!</p>

            <p>
                <% DonorFirstName %> <% DonorLastName %> has taken great interest and would like to assist you.
            </p>

            <p>
                Your compelling story and your willingness to share your struggles took courage. We at Stability will continue to be here to help you along the way. Take time each day to share on our platform your road to recovery. This will allow your friends, family, and <% DonorFirstName %> <% DonorLastName %> to celebrate your wins along the way! We at Stability and others will be able to measure your progress as you rebuild and recover your life.
            </p>

            <p>
                It is an honor to assist you in connecting you with <% DonorFirstName %> <% DonorLastName %. We are committed to your successful recovery.
            </p>
            
            <p>
                Sincerely,<br />
                <br />
                Rob Gaudet, Founder.
            </p>
            <br />
        </div>
    </div>
</body>
</html>