<%@ Master Language="C#" AutoEventWireup="true" CodeFile="DisasterRegistry.master.cs" Inherits="V1_MasterPages_DisasterRegistry" %>

<!DOCTYPE html>
<html>
	<head runat="server">
		<!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-96039646-1"></script>
		<script>
            window.dataLayer = window.dataLayer || [];
            function gtag() { dataLayer.push(arguments); }
            gtag('js', new Date());

            gtag('config', 'UA-96039646-1');
		</script>
		<link rel="shortcut icon" href="/favicon.ico">

		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">

		<title runat="server"					id="title">Stability - Disaster Social Network</title>
		<meta name="description"				id="description">
		<meta property="og:image:type"			id="fbImageType" runat="server" />
		<meta property="og:image"				id="fbImage" runat="server"/>
		<meta property="og:title"				id="fbTitle" runat="server"/>
		<meta property="og:url"					id="fbURL" runat="server"/>
		<meta property="og:site_name"			id="fbSite_name" />
		<meta property="og:description"			id="fbDescription" />
		
		<!-- Vendor styles -->
		<link rel="stylesheet" href="/Homer/vendor/fontawesome/css/font-awesome.css" />
		<link rel="stylesheet" href="/Homer/vendor/metisMenu/dist/metisMenu.css" />
		<link rel="stylesheet" href="/Homer/vendor/animate.css/animate.css" />

		<!-- App styles -->
		<link rel="stylesheet" href="/Homer/fonts/pe-icon-7-stroke/css/pe-icon-7-stroke.css" />
		<link rel="stylesheet" href="/Homer/fonts/pe-icon-7-stroke/css/helper.css" />
		<link rel="stylesheet" href="/Homer/styles/style.css">
		<link rel="stylesheet" href="/Homer/vendor/bootstrap/dist/css/bootstrap.css" />
		<link rel="stylesheet" href="/Homer/vendor/bootstrap-toggle-master/css/bootstrap2-toggle.css" />
		<!-- Vendor scripts -->
		<script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>

		<script type="text/javascript">

            $(document).ready(function () {

                $('#<%=Image1.ClientID%>').click(function () {
                    window.location.href = '/Default.aspx';
                    return false;
                });

            });

		</script>

		<style>
			.bodyBGColor
			{
				background-color:#F1F3F6;
			}
			#header
			{
				background-color:#29498c;
				height:44px;
			}

			#<%=Image1.ClientID%>
			{
				margin:8px;
			}
			#<%=Image1.ClientID%>:hover
			{
				cursor:pointer;
			}
			#menu
			{
			 top:32px;
			}
			.content-boxed
            {
			    padding:10px;
			}
            .add_to_cart_button{
                border:1px solid #7D7D7D; -webkit-border-radius: 3px; -moz-border-radius: 3px;border-radius: 3px;font-size:12px;font-family:verdana, sans-serif; padding: 10px 10px 10px 10px; text-decoration:none; display:inline-block;text-shadow: 0px 0px 0 rgba(0,0,0,0.3); color: #1F1F1F;
                 background-color: #ffc579; background-image: -webkit-gradient(linear, left top, left bottom, from(#ffc579), to(#fb9d23));
                 background-image: -webkit-linear-gradient(top, #ffc579, #fb9d23);
                 background-image: -moz-linear-gradient(top, #ffc579, #fb9d23);
                 background-image: -ms-linear-gradient(top, #ffc579, #fb9d23);
                 background-image: -o-linear-gradient(top, #ffc579, #fb9d23);
                 background-image: linear-gradient(to bottom, #ffc579, #fb9d23);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#ffc579, endColorstr=#fb9d23);
                }

                .add_to_cart_button:hover{
                 border:1px solid #ff9913;
                 background-color: #ffaf46; background-image: -webkit-gradient(linear, left top, left bottom, from(#ffaf46), to(#e78404));
                 background-image: -webkit-linear-gradient(top, #ffaf46, #e78404);
                 background-image: -moz-linear-gradient(top, #ffaf46, #e78404);
                 background-image: -ms-linear-gradient(top, #ffaf46, #e78404);
                 background-image: -o-linear-gradient(top, #ffaf46, #e78404);
                 background-image: linear-gradient(to bottom, #ffaf46, #e78404);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#ffaf46, endColorstr=#e78404);
                }
		</style>
        <style>
    .skin-option {
            position: fixed;
            text-align: center;
            right: -1px;
            padding: 10px;
            font-size:12px;
            top: 5px;
            text-transform: uppercase;	
            background-color: #ffffff;
            box-shadow: 0 1px 3px 0px rgba(0, 0, 0, 0.05), 10px 5px 7px 3px rgba(0, 0, 0, .1);
            border-radius: 4px 0 0 4px;
            z-index: 100000;
        }
            .navigationLink
            {
                color:white;
                margin-top:10px;
                margin-left:10px;
            }
            .navigationLink:hover
            {color:gray;cursor:pointer;}
            .labelCount:hover{cursor:pointer;}
    </style>
		<asp:ContentPlaceHolder id="head" runat="server">
		</asp:ContentPlaceHolder>
	</head>
	<body class="bodyBGColor boxed fixed-footer">
        <form id="form1" runat="server" role="form">
	        <div id="boxed-wrapper">
			    <div style="margin-bottom:500px;">
				    <div id="header" runat="server">
                        <div class="container">
					        <asp:Image ID="Image1" CssClass="pull-left m-t-sm" runat="server" Width="130" ImageUrl="~/V1/Images/logo1.png" />
                            <div class="m-l-lg pull-left">
                                <ul class="nav navbar-nav">
                                    <li class="navigationLink">
                                        <span data-toggle="dropdown">
                                            Disaster Recovery Registry
                                            <span class="label label-success labelCount">
                                                <%=activeDisasterCount%>
                                            </span>
                                        </span>
                                    
                                        <ul class="dropdown-menu hdropdown">
                                            <li class="title">
                                                Other Registries:
                                            </li>
                                            <asp:Literal id="litActiveDisasters" runat="server"></asp:Literal>
                                            <li class="summary">
                                                <a href="/V1/ChooseEvent.aspx">All Registries</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <%--<li class="">
                                        <span data-toggle="dropdown" class="navigationLink">Offer Help</span>
                                        <ul class="dropdown-menu hdropdown notification">
                                            <li>
                                                <a>
                                                    <span class="label label-success">NEW</span> It is a long established.
                                                </a>
                                            </li>
                                            <li>
                                                <a>
                                                    <span class="label label-warning">WAR</span> There are many variations.
                                                </a>
                                            </li>
                                            <li>
                                                <a>
                                                    <span class="label label-danger">ERR</span> Contrary to popular belief.
                                                </a>
                                            </li>
                                            <li class="summary"><a href="#">See all notifications</a></li>
                                        </ul>
                                    </li>
                                    <li class="">
                                        <span data-toggle="dropdown" class="navigationLink">Get Help</span>
                                        <div class="dropdown-menu hdropdown bigmenu">
                                            <table>
                                                <tbody>
                                                <tr>
                                                    <td>
                                                        <a href="projects.html">
                                                            <i class="pe pe-7s-portfolio text-info"></i>
                                                            <h5>Projects</h5>
                                                        </a>
                                                    </td>
                                                    <td>
                                                        <a href="mailbox.html">
                                                            <i class="pe pe-7s-mail text-warning"></i>
                                                            <h5>Email</h5>
                                                        </a>
                                                    </td>
                                                    <td>
                                                        <a href="contacts.html">
                                                            <i class="pe pe-7s-users text-success"></i>
                                                            <h5>Contacts</h5>
                                                        </a>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <a href="forum.html">
                                                            <i class="pe pe-7s-comment text-info"></i>
                                                            <h5>Forum</h5>
                                                        </a>
                                                    </td>
                                                    <td>
                                                        <a href="analytics.html">
                                                            <i class="pe pe-7s-graph1 text-danger"></i>
                                                            <h5>Analytics</h5>
                                                        </a>
                                                    </td>
                                                    <td>
                                                        <a href="file_manager.html">
                                                            <i class="pe pe-7s-box1 text-success"></i>
                                                            <h5>Files</h5>
                                                        </a>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </li>
                                    <li class="dropdown">
                                        <span class="dropdown-toggle navigationLink label-menu-corner" data-toggle="dropdown">
                                            <span class="label label-success labelCount">4</span>
                                            <i style="color:white;" class="fa fa-lg fa-envelope navigationLink"></i>
                                        </span>
                                        <ul class="dropdown-menu hdropdown animated flipInX">
                                            <div class="title">
                                                You have 4 new messages
                                            </div>
                                            <li>
                                                <a>
                                                    It is a long established.
                                                </a>
                                            </li>
                                            <li>
                                                <a>
                                                    There are many variations.
                                                </a>
                                            </li>
                                            <li>
                                                <a>
                                                    Lorem Ipsum is simply dummy.
                                                </a>
                                            </li>
                                            <li>
                                                <a>
                                                    Contrary to popular belief.
                                                </a>
                                            </li>
                                            <li class="summary"><a href="#">See All Messages</a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown">
                                        <span class="right-sidebar-toggle" data-toggle="dropdown">
                                            <i style="color:white; margin-top:15px;" class="fa fa-user fa-lg navigationLink"></i>
                                        </span>
                                        <ul class="dropdown-menu hdropdown">
                                            <li>
                                                <a>
                                                    Signin
                                                </a>
                                            </li>
                                            <li>
                                                <a>
                                                    Register
                                                </a>
                                            </li>
                                            <li>
                                                <a>
                                                    Signout
                                                </a>
                                            </li>
                                        </ul>
                                    </li>--%>
                                </ul>
                            </div>
                        </div>
				    </div>

				    <!-- Navigation Wrapper -->
				    <!-- Main Wrapper -->
					    <asp:ContentPlaceHolder id="ContentPlaceHolder1" runat="server">
		
					    </asp:ContentPlaceHolder>
				    <!-- Footer-->
				    <footer class="footer" id="footer" runat="server">
					    <span class="pull-right">
						    Copyright Stability 2023
					    </span>	
				    </footer>
			    </div>
		    </div>
		
		    <!-- App scripts -->
		    <script src="/Homer/scripts/homer.js"></script>
		    <script src="/Homer/vendor/slimScroll/jquery.slimscroll.min.js"></script>
		    <script src="/Homer/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
		    <script src="/Homer/vendor/metisMenu/dist/metisMenu.min.js"></script>

            <script>
                $(function () {

                    if ($('body').hasClass('boxed')) {
                        $('body').removeClass('boxed');
                        $('.status-boxed-layout').html("Off")
                    } else {
                        $('body').addClass('boxed');
                        $('.status-boxed-layout').html("<span class='text-success font-bold'>On</span>");
                        $('body').removeClass('fixed-small-header');
                        $('body').removeClass('sidebar-scroll');
                        $('#navigation').slimScroll({ destroy: true });
                        $('#navigation').attr('style', '');
                        $('body').removeClass('fixed-navbar');
                        $('.status-fixed-small-header').html("Off");
                        $('.status-fixed-footer').html("Off");
                        $('.status-fixed-sidebar').html("Off");
                        $('.status-fixed-navbar').html("Off");
                    }
                });
            </script>
		</form>
	</body>
</html>