<%@ Master Language="C#" AutoEventWireup="true" CodeFile="Homer.master.cs" Inherits="MasterPages_Homer" %>

<!DOCTYPE html>
<html>
	<head runat="server">
		<!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-96039646-1"></script>
		<script>
            window.dataLayer = window.dataLayer || [];
            function gtag() { dataLayer.push(arguments); }
            gtag('js', new Date());

            gtag('config', 'UA-96039646-1');
        </script>
		<link rel="shortcut icon" type="image/ico" href="/favicon.ico" />
		<link rel="apple-touch-icon" sizes="120x120" href="/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
		<%--<link rel="manifest" href="/site.webmanifest">--%>
		<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
		<meta name="msapplication-TileColor" content="#da532c">
		<meta name="theme-color" content="#b16565">

		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">

		<title runat="server"					id="title">Create A Community Disaster Relief Team - Stability</title>
		<meta name="description"				id="description" runat="server">
		<meta property="og:image:type"			id="fbImageType" runat="server" />
		<meta property="og:image"				id="fbImage" runat="server"/>
		<meta property="og:title"				id="fbTitle" runat="server"/>
		<meta property="og:url"					id="fbURL" runat="server"/>
		<meta property="og:site_name"			id="fbSite_name" />
		<meta property="og:description"			id="fbDescription" />
		

		<!-- Vendor styles -->
		<link rel="stylesheet" href="/Homer/vendor/fontawesome/css/font-awesome.css" />
		<link rel="stylesheet" href="/Homer/vendor/metisMenu/dist/metisMenu.css" />
		<link rel="stylesheet" href="/Homer/vendor/animate.css/animate.css" />
             
		<!-- App styles -->
		<link rel="stylesheet" href="/Homer/fonts/pe-icon-7-stroke/css/pe-icon-7-stroke.css" />
		<link rel="stylesheet" href="/Homer/fonts/pe-icon-7-stroke/css/helper.css" />
		<link rel="stylesheet" href="/Homer/styles/style.css">
		<link rel="stylesheet" href="/Homer/vendor/bootstrap/dist/css/bootstrap.css" />
		<link rel="stylesheet" href="/Homer/vendor/bootstrap-toggle-master/css/bootstrap2-toggle.css" />
        <link rel="stylesheet" href="/Homer/vendor/toastr/build/toastr.min.css" />
		<!-- Vendor scripts -->
		<script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>

		<script type="text/javascript">

            var userOrganizationEventId = "<%=_userOrganizationEventId%>";
            var organizationEventId = "";
            var checkTaskType = "true";
            var causeName = "";

            document.addEventListener("DOMContentLoaded", function () {
                const listItems = document.querySelectorAll("#userActionList li");

                listItems.forEach(item => {
                    item.addEventListener("click", function () {
                        const url = this.getAttribute("data-url");
                        if (url) {
                            window.location.href = url;
                        }
                    });
                });
            });

            $(document).ready(function () {
                $("body").tooltip({ selector: '[data-toggle=tooltip]' });

				<%=_showUserActionModal%>

                $("#causeTypeList.dropdown-menu li").click(function () {
                    causeName = $(this).text();
                    $("#btn-causeDropdown.dropdown-chooseCause").html("<i class='fa fa-globe'></i> " + causeName);
                    $("#<%=hidCauseId.ClientID%>").val($(this).attr('id'));
                    $("#<%=lblCause.ClientID%>").html("<strong>Your Cause:</strong> " + causeName);
                    organizationEventId = $(this).attr('id');
                });

                $("#causeTypeListB.dropdown-menu li").click(function () {
                    $("#btn-causeDropdownB.dropdown-chooseCauseB").html("<i class='fa fa-globe'></i> " + $(this).text());
                    $("#<%=hidCauseBId.ClientID%>").val($(this).attr('id'));
                    $("#<%=lblCause.ClientID%>").html("<strong>Your Deployment:</strong> " + $(this).text());
                    organizationEventId = $(this).attr('id');
                });

                $("#workEventType.dropdown-menu li").click(function () {
                    $("#btn-dropdown.dropdown-taskType").html("<i class='pe-7s-id'></i> " + $(this).text());
                    $("#<%=hidTaskTypeId.ClientID%>").val($(this).attr('id'));
                });

                var workDescription = document.getElementById('<%=txtWorkDescription.ClientID%>').value;
                var workCompleteDescription = document.getElementById('<%=txtWorkCompleteDescription.ClientID%>').value;
                var taskTypeId = document.getElementById('<%=hidTaskTypeId.ClientID%>').value;
                var activeStatusButtonId = document.getElementById('<%=activeStatusButton.ClientID%>');
                var causeCountyMessage = document.getElementById('causeCountyMessage');
                var btnSubmitTime = document.getElementById('<%=btnSubmitTime.ClientID%>');
                var timeEntryDiv = document.getElementById('timeEntry');
                var timeEntryAlertDiv = document.getElementById('timeEntryAlert');
                var activeTrackingButton = document.getElementById('<%=activeTrackingButton.ClientID%>');
                var activeTrackingButtonId = document.getElementById('<%=activeTrackingButton.ClientID%>');
                activeTrackingButton.style.visibility = 'hidden';

                if ("<%=_noCause%>" == "true") {
                    //No cause
                    divTimesheet.hidden = true;

                    //Show the cause Divs
                    divChooseCause.hidden = false;
                }
                else {
                    //Has a cause
                    divTimesheet.hidden = false;

                    //Remove the cause Divs
                    divChooseCause.hidden = true;
                }

                if ("<%=_timeActive%>" == "true") {
                    timeEntryDiv.style.visibility = 'hidden';
                    causeCountyMessage.style.visibility = 'hidden';
                    btnSubmitTime.style.visibility = 'hidden';
                    activeStatusButtonId.style.visibility = 'hidden';
                    activeTrackingButton.style.visibility = 'visible';
                    timeEntryAlertDiv.hidden = false;
                    checkTaskType = false;
                }

            <%-- $('#<%=imgLogo.ClientID%>').click(function () {
                    window.location.href = '/V1/NonProfit/Default.aspx';
                    return false;
                });--%>

                $('#<%=imgProfile.ClientID%>').click(function () {
                    window.location.href = <%=profileURL%>;
                    return false;
                });

                toastr.options = {
                    "debug": false,
                    "newestOnTop": true,
                    "positionClass": "toast-top-center",
                    "closeButton": true,
                    "showDuration": "600",
                    "toastClass": "animated fadeInDown",
                };
            });

            function chooseCause() {
                //Now that we have a cause we can activate these items.

                divTimesheet.hidden = false;

                //Remove the cause Divs
                divChooseCause.hidden = true;
                $("#btn-causeDropdownB.dropdown-chooseCauseB").html("<i class='fa fa-globe'></i> " + causeName);
            }


            function checkSignOutStatus() {
                $.ajax({
                    type: "GET",
                    url: "/V1/Handlers/CheckSignOutStatus.ashx",
                    contentType: "application/json",
                    dataType: "json",
                    success: function (response) {
                        if (response && response.shouldSignOut) {

                            document.getElementById('<%= btnSignOut.ClientID %>').click();
                        }
                    },
                    error: function (xhr, status, error) {
                        console.error("Error checking sign-out status: " + error);
                    }
                });
            }


            setInterval(checkSignOutStatus, 30000);


            $(document).ready(function () {
                checkSignOutStatus();
            });

            function updateTime(isUserActive) {

                workDescription = document.getElementById('<%=txtWorkDescription.ClientID%>').value;
                workCompleteDescription = document.getElementById('<%=txtWorkCompleteDescription.ClientID%>').value;
                taskTypeId = document.getElementById('<%=hidTaskTypeId.ClientID%>').value;
                activeStatusButtonId = document.getElementById('<%=activeStatusButton.ClientID%>');
                causeCountyMessage = document.getElementById('causeCountyMessage');
                btnSubmitTime = document.getElementById('<%=btnSubmitTime.ClientID%>');
                timeEntryDiv = document.getElementById('timeEntry');
                timeEntryAlertDiv = document.getElementById('timeEntryAlert');
                activeTrackingButton = document.getElementById('<%=activeTrackingButton.ClientID%>');

                if (!isUserActive) {
                    workDescription = workCompleteDescription;
                }


                if (isUserActive && taskTypeId == "" && checkTaskType) {
                    toastr.error('Error - Please choose a Volunteer Role.');
                    return;
                }
                else {
                    $.ajax(
                        {
                            type: "GET",
                            url: "/V1/Handlers/UpdateTimesheet.ashx?noCause=<%=_noCause%>&taskTypeId=" + taskTypeId + "&organizationEventId=" + organizationEventId + "&userOrganizationEventId=" + userOrganizationEventId + "&workDescription=" + workDescription + "&userId=<%=userId%>&isUserActive=" + isUserActive,
                            data: "",
                            contentType: "text/plain; charset=utf-8",
                            dataType: "html",
                            success: function (data) {
                                if (data != "") {
                                    $('#console-event').html(data);
                                }
                                if (isUserActive) {
                                    //User signed in.
                                    timeEntryDiv.style.visibility = 'hidden';
                                    causeCountyMessage.style.visibility = 'hidden';
                                    btnSubmitTime.style.visibility = 'hidden';
                                    activeStatusButtonId.style.visibility = 'hidden';
                                    activeTrackingButton.style.visibility = 'visible';
                                    timeEntryAlertDiv.hidden = false;
                                    checkTaskType = false;
                                }
                                else {
                                    //User signed out.
                                    timeEntryDiv.style.visibility = 'visible';
                                    causeCountyMessage.style.visibility = 'visible';
                                    btnSubmitTime.style.visibility = 'visible';
                                    activeStatusButtonId.style.visibility = 'visible';
                                    activeTrackingButton.style.visibility = 'hidden';
                                    timeEntryAlertDiv.hidden = true;
                                    checkTaskType = true;
                                }
                            },
                            error: function (request, status, error) {
                                request.statusText + ' - ' + error + ' - ' + status;
                            }
                        });
                }
			}
		
        </script>
		<script type="text/javascript">
            var baseUrl = '<%= ResolveUrl("~/") %>';
            console.log("Base URL:", baseUrl);
        </script>
		

		<script>
            $(document).ready(function () {
                var notificationCount = '<%= notificationCounting %>';

                console.log("Notification Count:", notificationCount);

                if (notificationCount === "" || notificationCount === "0") {
                    $('.badge.badge-danger').hide();
                } else {
                    $('.badge.badge-danger').show();
                }
            });
            $('#notificationContainer').on('click', '.notification-item', function () {
                var notificationId = $(this).find('.notificationClick').data('notification-id');
                var self = $(this);
                $.ajax({
                    url: "/MasterPages/Homer.master/GetCount",
                    type: "POST",
                    data: JSON.stringify({ notificationId: notificationId }),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (res) {
                        console.log(res);

                    },
                    error: function () {
                        console.error('Failed to mark notification as read.');
                    }
                });
            });
        </script>
		<script>
            $(document).ready(function () {
                $('#<%= txtSearchHeader.ClientID %>').on('input', function () {
                   let query = $(this).val().trim();
                   if (query.length > 1) {
                       $('#searchSuggestions').html(`

<div class='suggestion-item' data-type='TeamMembers'>
  <i class="fa fa-user"></i> <strong>People</strong>
</div>
<div class='suggestion-item' data-type='Teams'>
  <i class="fa fa-users"></i> <strong>Teams</strong>
</div>
<div class='suggestion-item' data-type='Deployments'>
  <i class="fa fa-street-view"></i> <strong>Deployments</strong>
</div>
<div class='suggestion-item' data-type='Skills'>
  <i class="fa fa-user-md"></i> <strong>Skills</strong>
</div>
<div class='suggestion-item' data-type='Resources'>
  <i class="fa fa-truck"></i> <strong>Resources</strong>
</div>
<div class='suggestion-item' data-type='Portals'>
  <i class="fa fa-globe"></i> <strong>Portals</strong>
</div>
`).show();
                   } else {
                       $('#searchSuggestions').hide();
                   }
               });

               $(document).on('click', '.suggestion-item', function () {
                   let searchType = $(this).data('type'); 
                   $('#<%= hdnSearchType.ClientID %>').val(searchType); 
              $('#<%= btnSearchHeader.ClientID %>').click(); 
               });
               $(document).click(function (e) {
                   if (!$(e.target).closest('.input-group').length) {
                       $('#searchSuggestions').hide();
                   }
               });
           });


            $(document).ready(function () {
                $('#<%= txtSearchMobile.ClientID %>').on('input', function () {
                       let query = $(this).val().trim();
                       if (query.length > 1) {
                           $('#searchSuggestionss').html(`
	
<div class='suggestion-item' data-type='TeamMembers'>
  <i class="fa fa-user"></i> <strong>People</strong>
</div>
<div class='suggestion-item' data-type='Teams'>
  <i class="fa fa-users"></i> <strong>Teams</strong>
</div>
<div class='suggestion-item' data-type='Deployments'>
  <i class="fa fa-street-view"></i> <strong>Deployments</strong>
</div>
<div class='suggestion-item' data-type='Skills'>
  <i class="fa fa-user-md"></i> <strong>Skills</strong>
</div>
<div class='suggestion-item' data-type='Resources'>
  <i class="fa fa-truck"></i> <strong>Resources</strong>
</div>
<div class='suggestion-item' data-type='Portals'>
  <i class="fa fa-globe"></i> <strong>Portals</strong>
</div>
`).show();
                       } else {
                           $('#searchSuggestionss').hide();
                       }
                   });

                   $(document).on('click', '.suggestion-item', function () {
                       let searchType = $(this).data('type');
                       $('#<%= hymoblie.ClientID %>').val(searchType); 
						$('#<%= btnSearchMobile.ClientID %>').click();
					});

                   $(document).click(function (e) {
                       if (!$(e.target).closest('.input-group').length) {
                           $('#searchSuggestionss').hide();
                       }
                   });
               });

        </script>

		<style>
			.header-link .dropdown-menu {
				display: none;
			}
			.header-link .dropdown-menu.show {
				display: block;
			}
			</style>


		<style>
.input-group {
    position: relative;
}
.suggestion-box {
    position: absolute;
    background: white;
    z-index: 1000;
    width: 100%;
    max-width:280px; 
     margin-top: 35px;
}

.suggestion-item {
    border: 1px solid #ccc;
    padding: 8px 12px;
    background-color: #fff;
    cursor: pointer;
    transition: background-color 0.2s ease;
  }

  .suggestion-item:hover {
    background-color: #f5f5f5;
  }

			#featureTypeCounter{
				    margin-right: 17px;
					margin-top: 20px;
					color: white;
			}
			#featureCounter{
				top:0;
				bottom:0;
				right:0;
				left:0;
				margin-top:0;
				margin-bottom:0;
				margin-right:0;
				margin-left:0;
			}
			    #notificationDropdown a:hover {
					background: none;
				}
				#notificationDropdown a {
					background: none;
					border-bottom:none;
				}

            .btn-purple
            {
                background-color:#5E2E91;
                color:white;
            }
          .toast-message
			{
               color: #000;
            }
			.bodyBGColor
			{
				background-color:#F1F3F6;
			}
			.content
			{
				background-color:#F1F3F6 !important;
				color:#6A6C6F;
			}

			#header
			<%=adminHeaderStyle%>
			

			#logo:hover	{cursor:pointer; }
			.header-link
			{
				background:none;
				border:none;
				margin-top:-10px;
				padding:18px 5px;
			}
			.header-link:hover
			{
				background:none;
				border:none;
			}
			#<%=imgProfile.ClientID%>:hover
			{
				cursor:pointer;
			}
			.fa-bars
			{
				height:50px;
				margin-left:-20px;
			}
			.fa-bars:hover
			{
				color:none;
			}
			#<%=imgProfile.ClientID%> {width:60%;}

			.toggle.ios, .toggle-on.ios, .toggle-off.ios { border-radius: 10px; width:200px; }
			.toggle.ios .toggle-handle { border-radius: 10px; }
			#<%=imgLogo.ClientID%>
			{
				margin:8px;
			}
			#<%=imgLogo.ClientID%>:hover
			{
				cursor:pointer;
			}
			.liUserAction:hover
			{
				cursor:pointer;
				background-color:none;
				color:white;
			}
			.ul_legend li
			{
				display: inline-block;
			}
			.link-margin{
				margin-top:10px;
			}

			.liUserAction u {
				color: black; /* default color */
				cursor: pointer;
				text-decoration: underline;
				transition: color 0.2s ease;
			}

			.liUserAction:hover u {
				color: darkorange; /* color on hover */
			}

			.liUserAction:active u {
				color: red; /* color when clicked */
			}

			.skin-option 
			{
				position: fixed;
				text-align: center;
				right: -1px;
				padding: 10px;
				font-size:12px;
				top: 5px;
				text-transform: uppercase;	
				background-color: #ffffff;
				box-shadow: 0 1px 3px 0px rgba(0, 0, 0, 0.05), 10px 5px 7px 3px rgba(0, 0, 0, .1);
				border-radius: 4px 0 0 4px;
				z-index: 100000;
			}
			.pe-7s-mail, .pe-7s-config, .pe-7s-keypad
			{
				color:white;
			}
			.pe-7s-mail:hover, .pe-7s-config:hover, .pe-7s-keypad:hover
			{
				color:black;
			}
			.text-danger{color:#FF0000;}
			.text-warning{color:#ffb606;}
			.text-success{color:#63CB31;}
			.text-website{color:#5E2E91;}

			.divMasterCover 
			{
				width: 100%;
				height: 100vh; /* Full viewport height */
				background-image: url('<%=_masterCoverImage%>'); /* Path to your image */
				background-size: cover; /* Scale the image to cover the entire div */
				background-position: center; /* Center the image */
				background-repeat: no-repeat; /* Prevent the image from repeating */
				height:300px;
				margin-left:-1px;
				margin-top:0px;
				margin-bottom:-200px;
				background-color:#ccc;
			}

			.mobileFooter 
			{
			  position: fixed;
			  bottom: -20px;
			  width: 100%;
			  background-color: #f1f1f1;
			  padding: 10px;
			  padding-bottom:50px;
			  text-align: center;
			  /* Additional styling for the footer */
			}

			@media only screen and (min-width: 768px) 
			{
			  .mobileFooter 
			  {
				display: none;
			  }
			}

			.text-light-grey
			{
				color:gray !important;
			}
			.form-control
			{
				background-color:white !important;
				height:34px !important;
			}
			.navbar-form-custom
			{
				margin-top:10px !important; 
			}
			.search-input
			{
			    padding-left: 20px !important; /* Add padding to the left */
				padding-top: 0px !important;  /* Add padding to the top */
				width:280px !important;
			}
			.search-input::placeholder
			{
				color: #ccc !important; /* Customize placeholder text color */
				opacity: 1 !important;  /* Make sure the placeholder is fully opaque */
			}
			.mobile-menu-toggle
			{
				padding:9px 0px !important;
				margin:8px 8px 8px 0px !important;
			}
           .desktop-logo 
		   {
                display: inline-block;
            }
           .mobile-logo 
		   {
                display: none;
            }
           @media (max-width: 767px) 
		   {
				.desktop-logo 
				{
					display: none;
				}
				.mobile-logo 
				{
					display: inline-block;
				}
			}

		   .header-link.dropdown .dropdown-menu 
		   {
				background-color: #fff;
				color: #333;
				min-width: 180px;
			}

			.header-link.dropdown .dropdown-menu li a 
			{
				padding: 10px 15px;
				display: block;
				color: #333;
			}

			.header-link.dropdown .dropdown-menu li a:hover
			{
				background-color: #f5f5f5;
			}

			.narrow-mobile-dropdown 
			{
				width: 90vw;
				max-width: 325px; /* typical max mobile viewport width */
				min-width: 275px;
				margin-left: -120px;
				left: 0 !important;
				padding: 10px;
				box-sizing: border-box;
				border-radius: 6px;
			}

			.narrow-mobile-dropdown .scrollable-menu 
			{
				max-height: 200px;
				overflow-y: auto;
			}

			.narrow-mobile-dropdown li a 
			{
				display: block;
				text-align: left;
				padding: 10px;
				color: #333;
				white-space: normal;
			}
			.close-sidebar-btn 
			{
				position: absolute;
				top: -15px;
				right: 0px;
				cursor: pointer;
				border: none;
				background: none;
				font-size: 40px;
			}
			.tooltip{
				background: none !important;
			}
			.team-header 
			{
				display: flex;
				justify-content: space-between;
				align-items:center;
			}
			.narrow-mobile-dropdown li a:hover 
			{
				background-color: #f5f5f5;
			}
			#hlMyTeams
			{
				color:#337ab7;
			}
			@media (max-width: 768px) 
			{
				.narrow-mobile-dropdown 
				{
					width: 90vw;
					max-width: 325px; /* typical max mobile viewport width */
					min-width: 275px;
				}
			}
			div#adminFeatureSection 
			{
				margin-bottom: 30px;
			}
			div#adminFeatureSection div 
			{
				background-color: lightgray;
				height:65px;
				padding:10px;
				text-align: left;
				color: dimgray;
				position: fixed;
				top: 0;
				left: 0;
				width: 100%;
				z-index: 1000;
			}
			input#btnSearchHeader
			{
				display:none;
			}
			input#btnSearchMobile
			{
				display:none;
			}
			/* Change tooltip text and background color */
			.tooltip .tooltip-inner {
			  background-color: #5E2E91; /* background */
			  color: #fff;               /* text color */
			  font-size: 15px;           /* text size */
			  padding: 8px 12px;         /* spacing */
			  border-radius: 10px;        /* optional rounded corners */
			}

			/* Change the arrow color (caret/pointer) */
			.tooltip.bs-tooltip-top .arrow::before,
			.tooltip.bs-tooltip-bottom .arrow::before,
			.tooltip.bs-tooltip-left .arrow::before,
			.tooltip.bs-tooltip-right .arrow::before {
			  border-color: #5E2E91 !important;
			  background-color: #5E2E91; /* background */
			}

			/* Optional: adjust arrow size */
			.tooltip .arrow::before {
			  width: 1rem;
			  height: 1rem;
			}

		</style>

		<asp:ContentPlaceHolder id="head" runat="server">
		</asp:ContentPlaceHolder>
	</head>
	<%=bodyTag%>
    <body class="sidebar-scroll hide-sidebar fixed-navbar <%=fixedFooter%> <%=fixedHeader%> bodyBGColor">		
		<asp:Panel ID="adminFeatureSection" runat="server" Visible="false">
			<div>
				<h5>Site Admin Panel</h5>
				<%=FeatureTypeCounterTitle %>  
				<asp:Label ID="FeatureTypeCounterNumber" runat="server"></asp:Label>
			</div>
			<asp:Literal ID="bodyStyle" runat="server" Visible="false">
				<style>
        			body 
					{
        				padding-top: 0px;
        			}
				</style>
			</asp:Literal>
		</asp:Panel>
		<div class="navbar-right"></div>
		<!-- Add a Literal control to dynamically include the style block -->
		<form id="form1" runat="server" role="form">
			<div>
				<div id="header" runat="server">
					<nav role="navigation">
						<asp:ImageButton  ID="imgLogo" CssClass="pull-left desktop-logo" style="padding-right:20px;" runat="server" Height="50" ImageUrl="~/V1/Images/logo-cs.png"   OnClick="imgLogo_Click"/>
                        <asp:Image ID="imgresponsive" CssClass="pull-left mobile-logo" style="padding-right:20px;" runat="server" Height="50" ImageUrl="~/V1/Images/mobile-logo.png" />
	                    <div class="header-link hide-menu text-white"><i class="fa fa-bars fa-2x m-t-xs text-white"></i></div>					
                        <div class="header-link text-white" runat="server" id="divFeed" data-toggle="tooltip" title="Civic Feed" onclick="window.location.href='/feed';"><i class="fa fa-home fa-2x m-t-xs text-white"></i></div>
						<div class="header-link load-map text-white" runat="server" id="divProfile" data-toggle="tooltip" title="My Profile" onclick="window.location.href='/V1/Member/Default.aspx';"><i class="fa fa-user fa-2x m-t-xs text-white"></i></div>
						<div class="header-link dropdown text-white" runat="server" id="divTeam" data-toggle="tooltip" title="My Team">
							<a class="dropdown-toggle text-white" href="#" data-toggle="dropdown" aria-expanded="false">
								<i class="fa fa-users fa-2x m-t-xs text-white"></i>
							</a>
							<ul class="dropdown-menu hdropdown animated flipInX narrow-mobile-dropdown">
								<div style="max-height: 400px; overflow-y: auto;">
									<li>
										<div class="team-header">
											<h4>My Teams</h4>
											<asp:HyperLink ID="hlMyTeams" runat="server" NavigateUrl="~/V1/NonProfit/TeamList.aspx">
												<h5>View All Teams</h5>
											</asp:HyperLink>
										</div>
									</li>					
									<asp:Repeater ID="rptUserGroups" runat="server" OnItemDataBound="rptUserGroups_ItemDataBound">
										<ItemTemplate>
											<li>
												<div style="display: inline-block; vertical-align: middle;">
													<asp:Image CssClass="img-circle img-small pull-left" Width="40" Height="40" ID="imgTeam" runat="server" />
												</div>
												<div style="display: inline-block; vertical-align: middle;">
													<asp:Literal ID="litGroupLink" runat="server"></asp:Literal>
												</div>
												<asp:Literal ID="litPrimaryBadge" runat="server"></asp:Literal>
											</li>
										</ItemTemplate>
									</asp:Repeater>
								</div>
							</ul>
						</div>

						<div class="header-link load-map text-white" data-toggle="tooltip"title="Portal map" onclick="window.location.href='/MapZone';"><i class="fa fa-map fa-2x m-t-xs text-white"></i></div>

						<div role="search" class="navbar-form-custom" runat="server" id="divSearch">
							<div class="input-group">
								<span class="input-group-btn">
									<asp:Button runat="server" ID="btnSearchHeader" CssClass="btn btn-primary2" Text="Find" OnClick="btnSearchMobile_Click" />
								</span>
								<asp:TextBox runat="server" ID="txtSearchHeader" placeholder="Find Connections or Teams" CssClass="form-control search-input" name="search"></asp:TextBox>
								 <div id="searchSuggestions" class="suggestion-box"></div>
								<asp:HiddenField ID="hdnSearchType" runat="server" />
							</div>
						</div>
						
						<div class="mobile-menu" runat="server" id="mobileMenu">
							<button type="button" class="navbar-toggle mobile-menu-toggle" data-toggle="collapse" data-target="#mobile-collapse-profile">
								<i class="fa fa-chevron-down fa-2x m-t-n-xs" style="color:white;"></i>
							</button>
							<div class="collapse mobile-navbar" id="mobile-collapse-profile">
								<ul class="nav navbar-nav no-borders">
									<li><asp:HyperLink ID="HyperLink6" runat="server" Text="Sign Out" NavigateUrl="/V1/SignOut.aspx"></asp:HyperLink></li>
								</ul>
							</div>
							<button type="button" class="navbar-toggle mobile-menu-toggle" data-toggle="collapse" data-target="#mobile-collapse-search">
								<i class="fa fa-search fa-2x m-t-n-xs" style="color:white;"></i>
							</button>
							<div class="collapse mobile-navbar" id="mobile-collapse-search">
								<div class="input-group" style="padding:10px;">
									<span class="input-group-btn">
										<asp:Button runat="server" ID="btnSearchMobile" CssClass="btn btn-primary2" Text="Find" OnClick="btnSearchMobile_Click" />
									</span>

									<asp:TextBox runat="server" ID="txtSearchMobile" placeholder="Find Connections or Teams" CssClass="form-control search-input" name="search"></asp:TextBox>
									 <div id="searchSuggestionss" class="suggestion-box"></div>
								  <asp:HiddenField ID="hymoblie" runat="server" />
								</div>
							</div>
						</div>

						<div class="navbar-right" runat="server" id="divMessages">
							<ul class="nav navbar-nav no-borders removeStyle">
								<li class="dropdown" id="notificationDropdown">
									<a class="dropdown-toggle" href="#" data-toggle="dropdown" aria-expanded="false">
										<i class="fa fa-bell"></i>
										<span class="badge badge-danger">
											<asp:Label  ID="notificationCounts" runat="server" ></asp:Label>
										</span>
									</a>
									<asp:PlaceHolder ID="PlaceHolderContent" runat="server"></asp:PlaceHolder>
								</li>
							</ul>
							<ul class="nav navbar-nav no-borders">
								<li class="dropdown" style="visibility:hidden;">
									<a class="dropdown-toggle label-menu-corner" href="#" data-toggle="dropdown">
										<i class="pe-7s-mail"></i>
										<span class="label label-success">0</span>
									</a>
									<ul class="dropdown-menu hdropdown animated flipInX">
										<div class="title">
											You have 0 new messages
										</div>
										<li>
											<a>
												Welcome to Stability.
											</a>
										</li>
										<li>
											<a>
												Create or find your team to get started!
											</a>
										</li>
										<li class="summary"><a href="#">See All Messages</a></li>
									</ul>
								</li>
								<li class="dropdown" runat="server" id="divSettings">
									<a class="dropdown-toggle" href="#" data-toggle="dropdown">
										<i class="fa fa-chevron-down m-t-n-xs" style="color:white;"></i>
									</a>
									<ul class="dropdown-menu hdropdown notification animated flipInX">
										<li><asp:HyperLink ID="hypSignOut" runat="server" Text="Sign Out" NavigateUrl="~/V1/SignOut.aspx"></asp:HyperLink></li>
									</ul>
								</li>
							</ul>
						</div>
					</nav>
				</div>
				<!-- Navigation 1-->
				<aside id="menu" runat="server" style="z-index:1001;">
					<div id="navigation">
					<button id="btnCloseSidebar" class="close-sidebar-btn" type="button">&times;</button>
						<ul class="nav m-b" id="side-menu">
							<div class="profile-picture m-b-xs">
								<img class="m-b img-rounded" width="10" src="../Images/icons8-customer-64.png" runat="server" id="imgProfile" />
								<div class="font-bold">
									<asp:Literal ID="litUsername" runat="server"></asp:Literal>
								</div>
							</div>
							<div class="stats-label text-color text-center m-b-md">
							   <div class="text-center m-b-sm" id="myDisastersButton" runat="server">
                              <button type="button" class="btn btn-success" data-toggle="modal" data-target="#myModalActiveDisasters">
                                My Assistant
                           </button>
                         </div>
								<div class="m-b-md" style="position:relative;" runat="server" id="timeButtons">
									<button type="button" style="position:absolute;" class="btn btn-warning btn-xl" id="activeStatusButton" runat="server" data-toggle="modal" data-target="#activeStatusModal"><i class='fa fa-clock-o fa-2x'></i><br />Track Time</button>
                                    <button type="button" class="btn btn-success btn-xl " id="activeTrackingButton" runat="server" data-toggle="modal" data-target="#activeStatusModal"><i class='fa fa-clock-o fa-2x'></i><br />Stop Time</button>
                                    <%--fa-user-circle-o--%>
								    <div id="console-event"></div>
                                </div>
								<div class="dropdown" id="divLogin" runat="server" visible="false">
									<asp:HyperLink ID="hypLogin" runat="server" Text="Sign In" NavigateUrl="~/V1/Login.aspx"></asp:HyperLink>
								</div>  

							</div>
							<li <asp:Literal ID="Literal5" runat="server"></asp:Literal>>
								<a href="/V1/Deployments.aspx">	 
									<span class="nav-label">Deployments</span>
								</a>
							</li>
							<li <asp:Literal ID="litViewDisasters" runat="server"></asp:Literal>>
								<a href="/V1/ChooseEvent.aspx">	 
									<span class="nav-label">Portals</span>
								</a>
							</li>
							<li <asp:Literal ID="Literal4" runat="server"></asp:Literal>>
								<a href="/V1/NonProfit/TeamList.aspx">
									<span class="nav-label">Teams</span>
								</a>
							</li>
							<li <asp:Literal ID="Literal1" runat="server"></asp:Literal>>
								<a href="/V1/DisasterPrograms.aspx">	 
									<span class="nav-label">Programs</span>
								</a>
							</li>
							<li runat="server" id="liMyCampaigns" visible="false">
								<a href="#">	 
									<span class="nav-label">My Deployments</span><span class="fa arrow"></span> 
								</a>
                                <ul class="nav nav-second-level">
                                   <asp:Literal id="litMyDisasterCampaigns" runat="server"></asp:Literal>
                                </ul>
							</li>
							<li runat="server" id="liMySurvivors" visible="false">
								<a href="/S1/Profile/MySurvivors.aspx">
									<span class="nav-label">My Survivors</span>
								</a>
							</li>
							<li runat="server" id="liAddSurvivor" visible="false">
								<a href="/S1/Profile/AddNewSurvivor.aspx">
									<span class="nav-label">Add a Survivor</span>
								</a>
							</li>
							<li runat="server" id="liDisasterCampaigns" visible="false">
								<a href="#">	 
									<span class="nav-label">My Campaigns</span><span class="fa arrow"></span> 
								</a>
                                <ul class="nav nav-second-level">
                                   <asp:Literal id="litMyCampaigns" runat="server"></asp:Literal>
                                </ul>
							</li>
							<li runat="server" id="liMyNonProfits" visible="false">
								<a href="#">	 
									<span class="nav-label">My Teams</span><span class="fa arrow"></span> 
								</a>
                                <ul class="nav nav-second-level">
                                   <asp:Literal id="litMyNonProfits" runat="server"></asp:Literal>
                                </ul>
							</li>
							<li id="divAdminLinks" class="bg-info" runat="server" visible="false">
									<a href="#">	 
										<span class="nav-label">Administration</span><span class="fa arrow"></span> 
									</a>
								<ul class="nav m-b nav-second-level" id="side-menu">
									<li>
										<a href="/Homer/analytics.html">	 
											<span class="nav-label">Homer Template</span>
										</a>
									</li>
									<li>
										<a href="/V1/Administration/Item/List.aspx">	 
											<span class="nav-label">Items</span>
										</a>
									</li>
									<li>
										<a href="/V1/Administration/Item/AddItem.aspx">	 
											<span class="nav-label">Add Item</span>
										</a>
									</li>
									<li>
										<a href="/V1/Administration/Location/LocationList.aspx">	 
											<span class="nav-label">Locations</span>
										</a>
									</li>
									<li>
										<a href="/V1/Administration/Disasters.aspx">	 
											<span class="nav-label">Command Centers</span>
										</a>
									</li>
									<li>
										<a href="/V1/Administration/SurvivorsList.aspx">	 
											<span class="nav-label">Survivors</span>
										</a>
									</li>
									<li>
										<a href="/V1/Administration/VolunteerList.aspx">	 
											<span class="nav-label">Volunteers</span>
										</a>
									</li>
									<li>
										<a href="/V1/Administration/UsersOnline.aspx">	 
											<span class="nav-label">Who's Online</span>
										</a>
									</li>
									<li>
										<a href="/V1/Administration/VolunteerIDList.aspx">	 
											<span class="nav-label">Volunteer Quick Search</span>
										</a>
									</li>
									<li>
										<a href="/V1/Administration/VolunteerByRole.aspx">	 
											<span class="nav-label">Volunteer Search by Role</span>
										</a>
									</li>
									<li>
										<a href="/V1/Administration/Rebuilds.aspx">	 
											<span class="nav-label">Rebuild</span>
										</a>
									</li>
									<li>
										<a href="/V1/Administration/UserList.aspx">	 
											<span class="nav-label">User Accounts</span>
										</a>
									</li>
									<li>
										<a href="/V1/Administration/NonProfitList.aspx">	 
											<span class="nav-label">Non Profits</span>
										</a>
									</li>
									<li>
										<a href="/V1/Administration/SurveyList.aspx">	 
											<span class="nav-label">Surveys</span>
										</a>
									</li>
									<li>
										<a href="/V1/Administration/CorporateBrands.aspx">	 
											<span class="nav-label">Corporate Brands</span>
										</a>
									</li>
								</ul>
							</li>
							<li id="divLocationAdministration" class="bg-info" runat="server" visible="false">
									<a href="#">	 
										<span class="nav-label">Location Admin</span><span class="fa arrow"></span> 
									</a>
								<ul class="nav m-b nav-second-level" id="side-menu">
									<li>
										<a href="/V1/Administration/Location/LocationList.aspx">	 
											<span class="nav-label">Locations</span>
										</a>
									</li>
								</ul>
							</li>
							<!--<li style="background-color:#E3E3E3; visibility:hidden;" <asp:Literal ID="litVolunteer" runat="server"></asp:Literal>>
								<asp:HyperLink runat="server" ID="hypVolunteer" NavigateUrl="~/V1/ChooseEvent.aspx?action=volunteer">
									<span class="nav-label text-black rebuildHomeNav"><asp:Literal ID="litVolunteerIcon" runat="server"></asp:Literal>
										<asp:Literal ID="litVolunteerPending" runat="server"></asp:Literal>
									</span>
								</asp:HyperLink>
							</li>-->
							<li <asp:Literal ID="litStream" runat="server"></asp:Literal> style="visibility:hidden;">
								<a href="/V1/Stream.aspx">
									<span class="nav-label">HOME</span>
								</a>
							</li>
							<li <asp:Literal ID="litAddHome" runat="server" visible="false"></asp:Literal> style="visibility:hidden;">
								<a href="/V1/Profile/AddNewRebuild.aspx" style="visibility:hidden;">
									<span class="nav-label">Rebuild a Home</span>
								</a>
							</li>
							<li <asp:Literal ID="litStages" runat="server" visible="false"></asp:Literal> style="visibility:hidden;">
								<a href="/V1/Stages.aspx">
									<span class="nav-label">Recovery Stages</span>
								</a>
							</li>
							<li <asp:Literal ID="litTrackHome" runat="server" visible="false"></asp:Literal> style="visibility:hidden;">
								<a href="/Web/Index.html">
									<span class="nav-label">About Us</span>
								</a>
							</li>
							<%--<li style="background-color:#E3E3E3;" <asp:Literal ID="litMyDashboard" runat="server"></asp:Literal> style="visibility:hidden;">
								<a href="/V1/Profile/Default.aspx">
									<span class="nav-label text-black rebuildHomeNav"><i class="fa fa-pie-chart"></i> My Dashboard</span>
								</a>
							</li>--%>
						</ul>
						<br />
						<br />
						<br />
						<br />
						<br />
						<br />
						<br />
						<br />
						<br />
						<br />
					</div>
				</aside>
				<!-- Main Wrapper -->
				<div id="wrapper">
					<div id="divMasterCover" class="divMasterCover" runat="server"></div>
					<asp:ContentPlaceHolder id="ContentPlaceHolder1" runat="server">
		
					</asp:ContentPlaceHolder>
					<div class="mobileFooter">
						<div class="row">
							<div class="col-xs-3">
								<a class="fa fa-home pe-2x text-light-grey homeLink" href="/feed"></a>
							</div>
							<div class="col-xs-3">
								<a runat="server" id="linkDeployment" class="fa fa-street-view pe-2x text-light-grey teamLink"></a>
							</div>
							
							<div class="col-xs-3">
								<a class="fa fa-map-o pe-2x text-light-grey portalLink" href="/V1/ChooseEvent.aspx"></a> 
							</div>
							<div class="col-xs-3">
								<a class="fa fa-id-badge pe-2x text-light-grey profileLink" href="/V1/Member/Default.aspx"></a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="modal fade" id="activeStatusModal" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div id="divChooseCause" hidden="hidden">
                            <div class="color-line"></div>
                            <div class="modal-header text-center">
                                <h4 class="modal-title"><asp:Literal ID="Literal3" runat="server"></asp:Literal> Volunteer Timesheet</h4>
                                <small class="thin-font">Enter a description of what you are working on and press Activate My Time.</small>
                            </div>
                            <div class="modal-body" style="position:relative;">
                                <div class="bg-success text-center p-xs m-b-sm  " id="chooseCauseWarning">
                                    <i class='fa fa-globe fa-4x'></i><br />
                                    <h4 class="text-uppercase">First choose a deployment to activate your time
                                    </h4>
                                </div>
                                <div class="row" id="chooseCauseRow">
                                    <div class="col-lg-12">
                                        <div id="divCauseDropdown" class="dropdown m-b-md">
				                            <button id="btn-causeDropdown" class="btn dropdown-toggle dropdown-chooseCause" type="button" data-toggle="dropdown">Choose A Deployment <i class="fa fa-globe"></i></button>
				                            <ul id="causeTypeList" class="dropdown-menu">
                                                <asp:Literal ID="litCause" runat="server"></asp:Literal>
				                            </ul>
                                            <asp:HiddenField id="hidCauseId" runat="server" />
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-primary" runat="server" id="btnChooseCause" onclick="chooseCause();">Choose Deployment</button>
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close Window</button>
                                </div>
                            </div>
                        </div>

                        <div id="divTimesheet" hidden="hidden">
                            <div class="color-line"></div>
                            <div class="modal-header text-center">
                                <h4 class="modal-title"><asp:Literal ID="litCountyHeader" runat="server"></asp:Literal> Volunteer Timesheet</h4>
                                <small class="thin-font">Enter a description of what you are working on and press Activate My Time.</small>
                            </div>
                            <div class="modal-body" style="position:relative;">
                                <div class="bg-success text-center m-b-sm" id="timeEntryAlert" hidden="hidden" style="position:absolute;">
                                    <i class='fa fa-clock-o fa-4x'></i><br />
                                    <h4 class="text-uppercase">Your time has been activated.
                                    </h4>
                                    Remember to sign out when done volunteering.
                                    <p>
                                        <strong>
                                            <asp:Literal ID="Literal2" runat="server" Text="Describe what you worked on and accomplished."></asp:Literal>
                                        </strong>
                                    </p>
                                    <asp:TextBox TextMode="MultiLine" Rows="4" Columns="40" ID="txtWorkCompleteDescription" runat="server"></asp:TextBox>
                                    <br />
									<asp:HiddenField ID="litTimeIn" Value="" runat="server" />
                                    <button type="button" class="btn btn-warning" runat="server" id="btnSignOut" onclick="updateTime(false);">Sign Out</button>
                                </div>
                                <div class="row" id="timeEntry">
                                    <div class="col-lg-6">
                                        <p>
                                            <strong>
                                                <asp:Literal ID="litInstructions" runat="server" Text="What volunteer role are you filling?"></asp:Literal>
                                            </strong>
                                        </p>
                                        <div id="divTaskTypedropdown" class="dropdown m-b-md">
				                            <button id="btn-dropdown" class="btn dropdown-toggle dropdown-taskType" type="button" data-toggle="dropdown">Choose A Volunteer Role <i class="pe-7s-id"></i></button>
				                            <ul id="workEventType" class="dropdown-menu">
                                                <asp:Literal ID="litVolunteerType" runat="server"></asp:Literal>
				                            </ul>
                                            <asp:HiddenField id="hidTaskTypeId" runat="server" />
                                        </div>
                                        <div id="divCauseDropdownB" class="dropdown m-b-md">
				                            <button id="btn-causeDropdownB" class="btn dropdown-toggle dropdown-chooseCauseB" type="button" data-toggle="dropdown">Choose A Deployment <i class="fa fa-globe"></i></button>
				                            <ul id="causeTypeListB" class="dropdown-menu">
                                                <asp:Literal ID="litCauseB" runat="server"></asp:Literal>
				                            </ul>
                                            <asp:HiddenField id="hidCauseBId" runat="server" />
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <p>
                                            <strong>
                                                <asp:Literal ID="litWorkDescription" runat="server" Text="Describe what you will be working on."></asp:Literal>
                                            </strong>
                                        </p>
                                        <asp:TextBox TextMode="MultiLine" Rows="6" Columns="30" ID="txtWorkDescription" runat="server"></asp:TextBox>
                                    </div>
                                </div>
                                <div class="bg-info p-xs m-b-sm" id="causeCountyMessage">
                                    <small class="">Your volunteer time will be attributed to the county and deployment listed below.</small>
                                    <h6 class="text-uppercase"><asp:Literal ID="lblCountyState" runat="server"></asp:Literal></h6>
                                    <h6 class="text-uppercase"><asp:Label ID="lblCause" runat="server"></asp:Label></h6>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-primary" runat="server" id="btnSubmitTime" onclick="updateTime(true);">Activate My Time</button>
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close Window</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
      <div class="modal fade" id="myModalActiveDisasters" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="color-line"></div>
            <div class="modal-header text-center">
                <h4 class="modal-title">My Assistant</h4>
                <small class="font-bold">Update your profile information here <a href="/V1/Profile/ProfileEdit.aspx">profile settings</a>.</small>
            </div>
            <div class="modal-body">
                <!-- Team Guidance -->
                <div id="divNoTeamGuidance" visible="false" runat="server" class="alert alert-warning m-b-md">
                    <h5><i class="fa fa-users"></i> Join a Team</h5>
                    <p>Connect with others to make a bigger impact:</p>
                    <div class="text-center link-margin">
                        <asp:LinkButton ID="btnJoinTeam" 
                            PostBackUrl="/V1/Profile/EditNonProfits.aspx?userActionModal=false" 
                            runat="server" 
                            CssClass="btn btn-primary" 
                            Text="<i class='fa fa-sign-in'></i> Join Team" />
                    </div>
                </div>
                
                <!-- Deployment Guidance -->
                <div id="divNoDeploymentGuidance" visible="false"   runat="server" class="alert alert-info m-b-md">
                    <h5><i class="fa fa-globe"></i> Join a Deployment</h5>
                    <p>Participate in active disaster response efforts:</p>
                    <div class="text-center link-margin">
                        <asp:LinkButton ID="btnJoinDeployment" 
                            PostBackUrl="/V1/Deployments.aspx" 
                            runat="server" 
                            CssClass="btn btn-primary" 
                            Text="<i class='fa fa-sign-in'></i> Join Deployment" />
                    </div>
                </div>

                <!-- Existing Connections -->
                <div id="divTeamInfo" visible="false">
                    <asp:HyperLink ID="hypActionPage" runat="server" CssClass="btn btn-ls btn-success" Text="Team Activity Page"></asp:HyperLink>
                    <hr />
                    <strong><asp:Literal ID="litNonProfitName" runat="server" Text="My Team:"></asp:Literal></strong>
                    <asp:HyperLink ID="hypNonProfit" runat="server"></asp:HyperLink>
                    <br />
                    <asp:HyperLink ID="hypInviteTeamMembers" runat="server" CssClass="btn btn-xs btn-success" Text="Invite New Members"></asp:HyperLink>
                </div>

                <div class="m-t-md" id="divDeploymentInfo" visible="false">
                    <strong><span class="nav-label"  id="litMyCausesslabel" runat="server">My Deployments:</span></strong>
                    <ul><asp:Literal ID="litMyCauses" runat="server"></asp:Literal></ul>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
			<div class="modal fade hmodal-success" id="divUserActionModal" tabindex="-1" role="dialog"  aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="color-line"></div>
                        <div class="modal-header">
                            <h4 class="modal-title">Finish Your Profile</h4>
                            <small class="font-bold">Complete your member profile to start helping today.</small>
                        </div>
                        <div class="modal-body">
                            <p>
								<strong>Follow These Steps (Takes About 2 Minutes)</strong>
								This will allow us to learn about you and better match you to volunteers opportunities you might want to consider taking part in.
								<ul class="fa-ul" id="userActionList">
									<li data-url="/V1/Profile/AvailableDates.aspx?userActionModal=false" class="liUserAction"> <i class="fa-li fa fa-check-square" style="color:<%=calendarUpdated%>;"></i> <u>Update Available Volunteer Dates</u></li>
									<li data-url="/V1/Profile/EditSkills.aspx?userActionModal=false" class="liUserAction"> <i class="fa-li fa fa-check-square" style="color:<%=skillsUpdated%>;"></i> <u>Update Your Skills</u></li>
									<li data-url="/V1/Profile/EditResources.aspx?userActionModal=false" class="liUserAction"> <i class="fa-li fa fa-check-square" style="color:<%=resourcesUpdated%>;"></i> <u>Update Your Available Equipment</u></li>
									<li data-url="/V1/Profile/EditNonProfits.aspx?userActionModal=false" class="liUserAction"> <i class="fa-li fa fa-check-square" style="color:<%=teamUpdated%>;"></i> <u>Choose or Create A Team</u></li>
								</ul>
                            </p>
                        </div>
                        <div class="modal-footer">
							<div class="pull-left">
								<ul class="ul_legend text-muted small">
									<li><i class="fa fa-check-square" style="color:yellowgreen;"></i> COMPLETE</li>
									<li><i class="fa fa-check-square" style="color:grey;"></i> INCOMPLETE</li>
								</ul>
							</div>
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
		</form>
		
		<!-- App scripts -->
		
        <script src="/Homer/vendor/toastr/build/toastr.min.js"></script>
		<script src="/Homer/scripts/homer.js"></script>
		<script src="/Homer/vendor/slimScroll/jquery.slimscroll.min.js"></script>
		<script src="/Homer/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
		<script src="/Homer/vendor/metisMenu/dist/metisMenu.min.js"></script>
		<script src="/Homer/vendor/bootstrap-toggle-master/js/bootstrap-toggle.js"></script>
		<script>
			$(document).ready(function () {
				// Toggle Team dropdown on click
				$('#divTeam > a.dropdown-toggle').on('click', function (e) {
					e.preventDefault();
					var $menu = $(this).siblings('.dropdown-menu');
					$('.header-link .dropdown-menu').not($menu).removeClass('show');
					$menu.toggleClass('show');
					return false;
				});

				// Close Team dropdown when clicking outside
				$(document).on('click', function (e) {
					if (!$(e.target).closest('#divTeam').length) {
						$('#divTeam .dropdown-menu').removeClass('show');
					}
				});

				// Prevent dropdown from closing on scroll (mobile)
				$('.narrow-mobile-dropdown').on('touchmove mousewheel', function (e) {
					e.stopPropagation();
				});
			});
		</script>
		<br />
		<br />
		<br />
		<br />
		<br />
		<br />
		<br />
		<br />
		<br />

	</body>
</html>
<script>
    $('#btnCloseSidebar').click(function () {
        $("body").toggleClass("hide-sidebar");
	});
</script>
