<?xml version="1.0"?>
<configuration>

	<system.web>
		<authorization>
			<deny users="?"/>
			<allow roles="Members"/>
		</authorization>
	</system.web>
	<location path="~/S1/Profile/Default.aspx">
		<system.web>
			<authorization>
				<allow users="*"/>
			</authorization>
		</system.web>
	</location>
</configuration>