<?xml version="1.0"?>
<configuration>

	<system.web>
		<authorization>
			<deny users="?"/>
			<allow roles="Members"/>
		</authorization>
	</system.web>
	<location path="~/V1/Profile/Profile.aspx">
		<system.web>
			<authorization>
				<allow users="*"/>
			</authorization>
		</system.web>
	</location>
	<location path="~/V1/Profile/ChooseEvent.aspx">
		<system.web>
			<authorization>
				<allow users="*"/>
			</authorization>
		</system.web>
	</location>
	<location path="~/V1/Profile/IDCard.aspx">
		<system.web>
			<authorization>
				<allow users="*"/>
			</authorization>
		</system.web>
	</location>
</configuration>