<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<title>Register on The Impactoid Community Disaster Relief Portal</title>
		<link rel="stylesheet" href="https://stability.org/Homer/styles/style.css">
		<link rel="stylesheet" href="https://stability.org/Homer/vendor/bootstrap/dist/css/bootstrap.css" />
		<link rel="stylesheet" href="https://stability.org/Homer/vendor/bootstrap-toggle-master/css/bootstrap2-toggle.css" />
	</head>
	<body style="background-color: #F4F4F4; padding: 10px;">
		<div style="display: block; margin: 20px; width: 85%;">
			<div style="display: block; padding: 20px; background-color: #393F4F;">
				<a href="http://www.Stability.org" target="_blank"><img src="http://www.Stability.org/V1/Images/logo-w-c.png" height="40"/></a>
			</div>
			<div style="display: block; background-color: #fff; border: double 3px #E3E3E3; padding: 20px 50px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;">
				<!--<p>
		<h2><% SenderName %> has invited you to join his team, <% TeamName %>, on the Impactoid Community Disaster Relief Portal</h2>
		<br />
		Click here to join <% FirstName %>'s team and help the community.
		<h2><a href="http://Stability.org/Register.aspx?UserOrganizationInviteId=<% UserOrganizationInviteId %>" class="btn btn-blue btn-lg">Join The Response Team Now</a></h2>
		<br /><br />
		Email customer support at <a href="mailto:Support@Impactoid.com">Support@Impactoid.com</a> for additional assistance.
	</p>-->
				<p>
					<h2>Hi <% FirstName %>,</h2>
					<br />
					We’re excited to let you know that <% SenderName %> has invited you to join their team, <% TeamName %>, on Stability!
					<br /><br />
					Stability is the cutting-edge platform that empowers community groups like <% TeamName %> to take swift, organized action during a crisis.
					<br /><br />
					<ol>
						<li>Click the link below to accept your invitation:</li>
						<h2><a href="https://Stability.org/Register.aspx?UserOrganizationInviteId=<% UserOrganizationInviteId %>" class="btn btn-blue btn-lg">Join Team Now</a></h2>
						<li>Set up your profile to get started.</li>
					</ol>
					<br />
					If you have any questions or need assistance, contact us anytime at <a href="mailto:support@stability.org">support@stability.org</a>.
					<br /><br />
					Together, we'll build disaster-ready communities!
					<br /><br />
					Best regards,<br />
					The Stability Team
				</p>

				<br />
				<br />
				<br />
			</div>
		</div>
	</body>
</html>