<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>User SignIn</title>
</head>
<body style="background-color: #F4F4F4; padding: 10px;">
	<div style="display: block; margin: 20px; width: 85%;">
		<div style="display: block; padding: 20px; background-color: #393F4F;">
			<a href="http://www.Stability.org" target="_blank"><img src="https://www.Stability.org/V1/Images/logo-w-c.png" width="250" /></a>
		</div>
		<div style="display: block; background-color: #fff; border: double 3px #E3E3E3; padding: 20px 50px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;">
			<p>
				<% UserName %> has signed in.
				<br />
				<h3><a href="https://www.Stability.org/V1/Member/Default.aspx?userid=<% UserId %>">View Profile</a></h3>
			</p>
		</div>
	</div>
</body>
</html>