<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<title>You Have a New Message on Stability</title>
		<link rel="stylesheet" href="https://stability.org/Homer/styles/style.css">
		<link rel="stylesheet" href="https://stability.org/Homer/vendor/bootstrap/dist/css/bootstrap.css" />
		<link rel="stylesheet" href="https://stability.org/Homer/vendor/bootstrap-toggle-master/css/bootstrap2-toggle.css" />
	</head>
	<body style="background-color: #F4F4F4; padding: 10px;">
		<div style="display: block; margin: 20px; width: 85%;">
			<div style="display: block; padding: 20px; background-color: #393F4F;">
				<a href="http://www.Stability.org" target="_blank"><img src="http://www.Stability.org/V1/Images/logo-w-c.png" height="40"/></a>
			</div>
			<div style="display: block; background-color: #fff; border: double 3px #E3E3E3; padding: 20px 50px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;">
				<p>
					<h2><% RecipientsName %>, <% SenderName %> sent you this message from the <% TeamName %> Community Disaster Relief Portal</h2>
					<br />
					<% Message %>
					<h2><a href="http://Stability.org/V1/NonProfit/TakeAction.aspx?organizationId=<% OrganizationId %>" class="btn btn-blue btn-lg">Message <% SenderName %> Back Here</a></h2>
					<br /><br />
					Email customer support at <a href="mailto:Support@Impactoid.com">Support@Impactoid.com</a> for additional assistance.
				</p>
				<br />
				<br />
				<br />
			</div>
		</div>
	</body>
</html>